/* 其他文件样式 */
/* 公司简介样式 */
.section {
  padding: 100px 100px 50px;
}
.section article {
  animation-duration: 2s;
}
.section article p {
  font-size: 18px;
  line-height: 1.8;
  color: #666;
}
.section .in-tit h2 {
  margin-top: 40px;
}
.section article h2 {
  color: #333;
  visibility: visible;
  line-height: 1.8;
  margin: 0;
}
.section img {
  box-shadow: #aaa 0px 0px 15px;
  border: #fff 5px solid;
}
.section .img-center {
  text-align: center;
  margin: 20px 3px 20px 3px;
}
.about2-left {
  width: 48%;
  margin-right: 2%;
  float: left;
}
.about2 img {
  animation-delay: .5s;
  animation-duration: 2s;
}
.section .img-right {
  float: right;
  margin: 0 15px 10px 30px; 
}
/* 发展历史 */
.fixed-nav-bar {
  position: fixed;
  top: 260px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 128px;
}
.staticing {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.rotate {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  animation: rotation 8s infinite linear;
}
.section #StaticLogoImage {
  box-shadow: none;
  border: none;
}
/* 产品中心 */
.pro-inpro h3.series {
  font-size: 30px;
  padding: 10px 20px;
  background: #079900;
  color: #fff;
  box-shadow: #bfbfbf 3px 3px 3px;
  animation-duration: 2s;
}
.pro-inpro li {
  animation-duration: 2s;
}
.product h3.series2 {
  background: #0100ff;
}
.product h3.series3 {
  background: #980200;
}
.pro-pic img {
  box-shadow:none;
  border: none;
}
.pro-list li .pro-pic {
  max-width: 370px;
  margin: auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px #dfdfdf;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 40px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #E9E9E9;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.tlcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.tlcontainer::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: white;
  border: 4px solid #990100;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.tl-left {
  left: 0;
}
.tl-left:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #E9E9E9;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #E9E9E9;
}
.tl-right {
  left: 50%;
}
.tl-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #E9E9E9;
  border-width: 10px 10px 10px 0;
  border-color: transparent #E9E9E9 transparent transparent;
}
.tl-right::after {
  left: -10px;
}
.tl-content {
  padding: 20px 30px;
  background-color: #E9E9E9;
  position: relative;
  border-radius: 6px;
}
.content-block {
  vertical-align: middle;
  padding: 20px 30px;
  background-color: #bababa;
  position: relative;
  border-radius: 6px;
  box-shadow: 5px 10px #8b8b8b;
}
.content-block h3 {
  text-align: center;
  font-size: 20px;
  color: #261919;
}
/* 产品详情页 */
.pro-content {
  padding: 100px 0 0 0;
}
.pro-banner {
  position: relative;
  text-align: right;
  padding: 50px 0;
  background: url(../images/pro-large_bg.png) no-repeat top left;
  animation: slide 1.5s ease;
}
.pro-banner h1 {
  color: #990100;
  font-size: 48px;
  margin: 0;
  padding: 15px;
  position: absolute;
  top: 50px;
  left: 15px;
}
.pro-banner .pro-banPic {
  padding: 0 30px;
  animation-duration: 2s;
}
.pro-banner img {
  border: none;
  box-shadow: none;
}
.pro-banner .pro-menu ul {
  list-style-type: none;
  position: absolute;
  left: 15px;
  bottom: 50px;
}
.pro-banner .pro-menu ul li {
  display: inline-block;
  margin-left: -3px;
  text-align: center;
}
.pro-banner .pro-menu ul li a {
  display: block;
  width: 100%;
  background: #235789;
  color: #fff;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 12px;
}
.pro-banner .pro-menu ul li a img {
  display: block;
  margin-bottom: 5px;
}
.pro-app {
  padding: 80px 0;
  background: url(../images/section_bg.jpg) repeat-x bottom;
}
.pro-app img {
  border: none;
  box-shadow: none;
}
.pro-app h2 {
  color: #1a5096;
  text-align: center;
  margin-bottom: 0px;
}
.pro-app h2 .img, .pro-app .title {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.pro-app .title {
  text-align: left;
  font-size: 36px;
  letter-spacing: 36px;
  color: #261919;
}
.pro-app .title span {
  display: block;
  font-size: 18px;
  opacity: .5;
  letter-spacing:normal;
}
.pro-app h3 {
  max-width: 1000px;
  line-height: 1.5;
  margin: 20px auto 30px;
  color: #1a5096;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.app-list ul {
  display: flex;
}
.app-list li {
  margin: 0 20px;
  float: left;
  flex: 1;
}
.app-list li img {
  border: #ccc 1px solid;
  margin: auto;
}
@-webkit-keyframes slide {
	0% { background-position: 0 140px; opacity: 0; }
	75% { opacity: 0.5}
	100% { background-position: 0 0; opacity: 1; }
}
@media (max-width:800px) {
  /* 公司简介样式 */
  .section {
    padding: 150px 0 0 0 ;
  }
  .section .in-tit h2 {
    margin: 20px 0;
  }
  .about2-left {
    width: 100%;
    float: none;
  }
  .section .img-right {
    float: none;
    margin-left: 0;
  }
  /* 发展历史 */
  .timeline {
    padding-bottom: 20px;
  }
  .timeline::after {
    display: none;
  }
  .tlcontainer {
    width: 100%;
  }
  .tlcontainer::after {
    display: none;
  }
  .tlcontainer::before {
    display: none;
  }
  .tl-right {
    left: 0;
  }
  .content-block {
    margin: 20px 30px;
    padding: 15px 0;
  }
}